<div class="container">

    <form method="post" action="/ask">
        <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
        <textarea class="form-control" maxlength="200" rows="6" id="questionInput" name="question"></textarea>
        <p class="text-muted" id="counter"> Còn
            <span id="character"></span>/200 kí tự</p>
        <button class="btn btn-primary" type="submit">Gửi</button>
    </form>
</div>